@import '../../scss/index.scss';

.selected {
  border-bottom: 2px solid black !important;
}

.login-page {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/jpg/simple.jpg');

  &-content {
    background-color: #8080804d;
    padding: 30px;
    height: min-content;
    border-radius: 2rem;
    &-header {
      &-button {
        width: calc(50% - 6px);
        text-align: center;
        border-color: transparent;
        border-radius: 0;
        background-color: transparent;
        color: $color-font;
      }
    }
  }
}
