@import '../../scss/index.scss';

.selected {
  border-bottom: 2px solid black !important;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/jpg/simple.jpg');
  padding: 100px 0 0 0;

  &-content {
    background-color: #8080804d;
    padding: 10px;
    height: min-content;
    &-header {
      &-button {
        width: calc(50% - 6px);
        text-align: center;
        border-color: transparent;
        border-radius: 0;
      }
    }
  }
}

@media (min-width: 900px) {
  .login-page {
    padding: 200px 0 0 0;
  }
}
