@import '../../scss/index.scss';

.luis-logo {
  height: 34px;
  border-radius: 2rem;
  width: 150px;
}

.option-selected-mobil {
  border-top: 3px solid $primary-color !important;
}

.option-selected-laptop {
  border-bottom: 3px solid $primary-color !important;
}

.hidden-menu-bye {
  animation: hidden-menu-small-bye;
  animation-duration: 1s;
  transform: translateY(100%);
}

.hidden-menu-hello {
  animation: hidden-menu-small-hello;
  animation-duration: 1s;
  transform: translateY(0);
}

@keyframes hidden-menu-small-bye {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes hidden-menu-small-hello {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.menu {
  &-content {
    position: fixed;
    overflow: auto;
    z-index: 60;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      padding: 0;

      & > li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        & > a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-decoration: none;
          color: $primary-color;
          width: 100%;
          height: 100%;
          padding: 8px 0 5px 0;
          border-top: 2px solid transparent;

          & > .descriptionItem {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .height-scroll {
    height: 50px !important;
  }

  .background-menu {
    background-color: $secondary-color !important;
    box-shadow: gray 2px 0 4px 0;
  }

  .menu {
    &-content {
      top: 0;
      bottom: auto;
      padding: 0px $padding-900;
      height: 100px;
      background-color: transparent;
      align-items: end;
      width: auto;

      & > ul {
        justify-content: space-between;
        & > li {
          justify-content: end;
          &:nth-child(1) {
            margin: 0 20% 0 0;
            justify-content: start;
            position: relative;

            & > a {
              width: min-content;
            }
          }

          &:nth-last-child(1) {
            margin: 0;
          }

          & > a {
            color: $color-font;
          }
        }
      }
    }
  }
}

@media (min-width: 1240px) {
  .menu {
    &-content {
      padding: 0 $padding-1240;
    }
  }
}
