.li-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 10px 5px;
  border-bottom: 2px solid #a59e9ea6;

  &:nth-last-child(1) {
    border: none;
  }
}

.ul-list {
  margin: 0;
  padding: 0;
}
