@import '../../scss/index.scss';

.layoutBasic {
  min-height: 100vh;

  &-main {
    min-height: calc(100vh - 46px - 90px);
  }
}

.footer {
  background-color: black;
  position: relative;
  margin-top: auto;

  &-division {
    display: block;
    background-image: url('../../assets/png/division_black.png');
    width: 100vw;
    height: 23px;
    position: absolute;
    top: -13px;
  }

  &-content {
    margin: 0;
    padding: 30px 5px;
    color: white;
  }
}

@media (min-width: 900px) {
  .layoutBasic {
    min-height: 100vh;

    &-main {
      min-height: calc(100vh - 95px);
    }
  }

  .footer-content {
    padding: 30px $padding-900;
  }
}

@media (min-width: 1240px) {
  .footer-content {
    padding: 30px $padding-1240;
  }
}
