@import '../../scss/index.scss';

footer{
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 30px 0 20px 0;
    position: relative;
    .footer-division{
        background-image: url('../../assets/png/wave_white.png');
        width: 100vw;
        height: 23px;
        position: absolute;
        left: 0;
        top: -11.5px;
    }
}

@media(min-width: 900px){
    footer{
        padding: 30px $padding-900 20px $padding-900 ;
    }
}

@media(min-width: 1240px){
    footer{
        padding: 30px $padding-1240 20px $padding-1240 ;
    }
}
