@import '../../scss/index.scss';

.footer {
  background-color: black;
  position: relative;

  &-division {
    display: block;
    background-image: url('../../assets/png/division_black.png');
    width: 100vw;
    height: 23px;
    position: absolute;
    top: -13px;
  }

  &-content {
    margin: 0;
    padding: 30px 5px;
    color: white;
  }
}

@media (min-width: 900px) {
  .footer-content {
    padding: 30px $padding-900;
  }
}

@media (min-width: 1240px) {
  .footer-content {
    padding: 30px $padding-1240;
  }
}
