@import '../../scss/index.scss';

canvas {
  position: absolute !important;
}

.home {
  width: 100%;

  &-start {
    background-color: rgb(49, 57, 58);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: auto;

    &-welcome {
      &-title {
        margin: 0 20px 80px 20px;
        line-height: 60px;
      }

      &-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }

    &-arrow {
      font-size: 30px;
      margin: 0 0 70px 0;

      animation-duration: 0.5s;
      animation-name: arrow;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &-contactMe {
      background-color: $info-color;
    }

    @keyframes arrow {
      from {
        transform: translateY(10px);
      }

      to {
        transform: translatey(0);
      }
    }
  }

  &-division {
    transform: translateY(-50%);
    width: 100%;
    height: 23px;
  }

  .background-division {
    background-image: url('../../assets/png/wave_white.png');
  }

  &-continue {
    &-presentation {
      padding: 20px 0;
      &-content {
        padding: 20px 10px 0 10px;
      }
    }

    &-skills {
      padding: 20px 0;

      &-content {
        padding: 20px 10px 0 30px;
      }
    }

    &-contactme {
      padding: 20px 0;
    }

    &-comments {
      padding: 20px 0;
      background-color: aquamarine;
    }
  }
}

@media (min-width: 400px) {
  .home-start-welcome-image {
    width: 220px;
    height: 220px;
  }
}

@media (min-width: 900px) {
  .home {
    &-start {
      text-align: start;
      padding: 0 $padding-900;

      &-welcome {
        margin: 200px 0 0 0;
        display: flex;
        height: auto;
        flex-direction: row;

        &-title {
          margin: 0;
        }

        &-image {
          margin-left: 130px;
          width: 280px;
          height: 280px;
        }
      }

      &-arrows {
        display: flex;
        flex-direction: row;
        width: 200px;
        justify-content: space-between;
      }
    }
    &-continue {
      &-presentation {
        padding: 20px $padding-900;
        &-content {
          padding: 20px 10px 0 10px;
        }
      }

      &-skills {
        padding: 20px $padding-900;

        &-content {
          padding: 20px 10px 0 30px;
        }
      }

      &-contactme {
        padding: 20px $padding-900;
      }

      &-comments {
        padding: 20px $padding-900;
        background-color: aquamarine;
      }
    }
  }
}

@media (min-width: 1240px) {
  .home {
    &-start {
      padding: 0 $padding-1240;
    }

    &-continue {
      &-presentation {
        padding: 20px $padding-1240;
        &-content {
          padding: 20px 10px 0 10px;
        }
      }

      &-skills {
        padding: 20px $padding-1240;
      }

      &-contactme {
        padding: 20px $padding-1240;
      }

      &-comments {
        padding: 20px $padding-1240;
      }
    }
  }
}
