@import '../../scss/index.scss';

.over {
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 95vw;
  max-width: 400px;
  box-shadow: 0.4rem 0.4rem 0.7rem 0 $shadow;
  background-color: white;

  &-img {
    height: 250px;
    position: relative;

    &-background {
      border-radius: 10px 10px 0 0;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &-front {
      border-radius: 10px 10px 0 0;
      position: absolute;
      bottom: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      background-color: #14132975;

      &-tecnologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;

        &-technology {
          padding: 2px 1rem;
          margin: 5px;
          border: 1px solid;
          border-radius: 2rem;
          color: #ffffff;
          font-size: 1rem;
          height: min-content;
        }
      }
    }
  }

  &-content {
    padding: 10px;
    text-align: center;

    &-title {
      margin: 40px 0;
    }

    &-more {
      width: 100%;
    }

    &-description {
      text-align: start;
    }

    &-buttons {
      display: flex;
      flex-direction: column;

      &-button {
        width: 100%;
        margin: 10px 0;

        button {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .card {
    width: 95%;
    max-width: 700px;
    margin: 20px 0;

    &-img {
      &-front {
        overflow: auto;
        animation-name: hoverFront;
        animation-duration: 1s;
      }
    }

    @keyframes hoverFront {
      from {
        height: 0;
      }

      to {
        height: 100%;
      }
    }

    &-content {
      &-buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        &-button {
          width: 48%;
        }
      }
    }
  }
}
