@import '../../scss/index.scss';

.modal {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a122991;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &-content {
    margin: auto;
    position: relative;
    display: block;
    width: 96%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
    }

    &-main {
      margin-top: 40px;
    }
  }
}

@media (min-width: 900px) {
  .modal {
    &-content {
      width: 50%;
      border-radius: 2rem;
    }
  }
}
