@import './scss/index.scss';

body {
  margin: 0;
}

.App {
  font-family: 'sans-serif';
  color: $color-font;
  //background-image: url('./assets/jpg/libro.jpg');
  //background-color: rgb(184, 184, 184);
}

p {
  line-height: 30px;
  font-size: 1.3rem;
  color: $color-font;
}

.invalidInput {
  background-color: $invalid-input !important;
}

h1 {
  font-size: 2.5rem;
  text-shadow: $shadow solid 1rem 0.5rem;
  margin: 0;
  color: $primary-color;
}

h2 {
  font-size: 2rem;
  color: $primary-color;
}

button {
  padding: 2px 1rem;
  border: none;
  font-size: 1.3rem;
  background-color: black;
  color: $color-font-titles;
  border-radius: 100rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    line-height: 35px;
  }
}
