$primary-color: #008286;
$secondary-color: #ffffff;

$primary-color-light: #b8141fc7;
$secondary-color-light: #e6e6e6cb;

$color-font: #11141f;
$color-font-light: #2e2e2e;
$color-font-titles: #ffffff;

$shadow: #233033;

$danger-color: #fc3030;
$danger-color-hover: #ff0000;
$warning-color: #ffff4b;
$warning-color-hover: #ffff00;
$success-color: #4cbb4c;
$success-color-hover: #3bc03b;
$info-color: #3793aa;
$info-color-hover: #0098be;

$invalid-input: #ff9d9d;

$padding-900: 120px;
$padding-1240: 200px;
