$primary-color : #a06c82;   
$secondary-color : #e6e6e6;

$primary-color-light : #b8141fc7;  
$secondary-color-light : #e6e6e6cb;

$color-font : #11141f;

$shadow : #c0bdbd;

$padding-900 : 120px;
$padding-1240 : 200px;
