$primary-color: #a06c82;
$secondary-color: #ffffff;

$primary-color-light: #b8141fc7;
$secondary-color-light: #e6e6e6cb;

$color-font: #11141f;

$shadow: #c0bdbd;

$danger-color: #ff0000;
$warning-color: #dbdb06;
$success-color: #3bc03b;
$info-color: #008db1;

$invalid-input: #ff9d9d;

$padding-900: 120px;
$padding-1240: 200px;
